.table {
  display: table-row-group;
  box-sizing: border-box;
  /* flex-direction: column; */
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
}

.tableRow {
  display: table-row;
  justify-content: space-between;
}

.tableRow:nth-child(even) {
  background-color: #e7e7e7;
}

.tableCell {
  box-sizing: border-box;
  padding: 10px;
  /* border: 1px solid #e7e7e7; */
  color: #000000;
}
